# App
BASE_URL="http://localhost:4000"

# Redis
REDIS_URL="redis://localhost:6379"

# Postgres
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="fila"

# Mail
MAIL_USER=""
MAIL_PASSWORD=""
MAIL_HOST="localhost"
MAIL_PORT=1025
MAIL_FROM_ADDRESS="notificacoes@planejamento.mg.gov.br"

# SEI
SEI_URL="https://www.sei.mg.gov.br/sei/ws/SeiWS.php"
SEI_SIGLA_SISTEMA=""
SEI_IDENTIFICACAO_SERVICO=""

# DataLake
DATALAKE_USER=""
DATALAKE_PASSWORD=""
DATALAKE_HOST="dlmg.prodemge.gov.br"
DATALAKE_PORT=21051

# Blob
STORAGE_PROVIDER="filesystem"
STORAGE_FILESYSTEM_ROOT=".blob"
STORAGE_AZURE_ACCOUNT=""
STORAGE_AZURE_CONTAINER=""
STORAGE_AZURE_API_KEY=""

# Doc Intel
AZURE_DOC_URL=""
AZURE_DOC_API_KEY=""
