{{define "content"}}
  <main class="space-y-6 p-4">
    <section>
      <h1 class="text-2xl font-bold">Dados Usuário</h1>
      <div>{{.Usuario.Nome}}</div>
      <div>{{.Usuario.CPF}}</div>
      <div>{{.Usuario.Email}}</div>
    </section>

    {{if .Usuario.HasPapel "ANALISTA"}}
      <section class="space-y-2">
        <h2 class="text-xl font-bold">Dados Analista</h2>

        {{if .Analista}}
          <div>Órgão: {{.Analista.Orgao}}</div>
          <div>Unidade SEI: {{.Analista.SEIUnidadeID}}</div>
          <div>Afastado: {{.Analista.Afastado}}</div>

          <button class="btn-primary">Desativar</button>
        {{else}}
          <p>Os dados de analista ainda não foram cadastrados</p>
          <a
            href="/gestor/usuarios/{{.Usuario.ID}}/analista"
            class="btn-primary"
          >
            Cadastrar
          </a>
        {{end}}
      </section>
    {{end}}
  </main>
{{end}}
