@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --color-primary: #00183b;
  --color-secondary: #59a1ba;
  --color-muted: #d4e7ed;
  --color-muted-foreground: #44403b;
  --color-foreground: #1c1917;

  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply text-foreground;
  }
}
