{{define "subject"}}
Solicitação de Prioridade - Fila Aposentadoria
{{end}}

{{define "text"}}
Uma nova solicitação de prioridade foi criada para o processo {{.NumeroProcesso}} com a seguinte justificativa:

{{.Justificativa}}

{{with .SolicitacaoURL}}
Acesse a solicitação: {{.}}
{{end}}
{{end}}

{{define "html"}}
{{end}}
