{{define "subject"}}
Solicitação de Prioridade - Fila Aposentadoria
{{end}}

{{define "text"}}
Uma nova solicitação de prioridade foi criada para o processo {{.NumeroProcesso}} com a seguinte justificativa:

{{.Justificativa}}
{{end}}

{{define "html"}}
{{end}}
