{{define "subject"}}
Solicitação de Prioridade - Fila Aposentadoria
{{end}}

{{define "text"}}
Uma nova solicitação de prioridade foi criada para o processo {{.NumeroProcesso}}
{{end}}

{{define "html"}}
{{end}}
